@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --green-50: #f0fdf4;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    color: white;
    background-color: var(--green-700);
    text-align: center;
    padding: 1.5rem;
    border-bottom-left-radius: 2rem;
}

h1 {
    margin: 0;
}

#text-input {
    display: block;
    width: 50%;
    height: 20vh;
    margin: auto;
    margin-top: 4rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    border: 2px solid var(--green-700);
    padding: 1rem;
    box-shadow: 0px 0px 5px 5px lightgray;
}

button {
    display: block;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    font-size: 1.1rem;
    color: white;
    border: 0;
    background-color: var(--green-700);
}

button:hover,
button:focus {
    font-weight: bold;
    box-shadow: 1px 1px 5px 2px lightgray;
}

#text-output {
    outline: 2px solid black;
    margin: auto;
    margin-top: 4rem;
    width: 50%;
    height: 25vh;
    font-size: 1.25rem;
}

